.search {
	padding-bottom: 50px;

	form {
		h1 { display: none; }
		&.initial {
			width: 450px;
			margin: 50px auto;
			border: 1px solid silver;
			padding: 30px;

			input.text {
				width: 90%;
			}

			&, h1 {
				display: block;
				text-align: center;
			}
		}
	}

	.results ol > li {
		list-style-position: inside;
		padding: 20px 10px 20px 10px;
		font-size: 35px;
		line-height: 19px;

		> ul {
			margin-top: 15px;
		}

		a, ul {
			font-size: 16px;
		}
	}

	.paging {
		overflow: hidden;
		margin: 50px 0 0 150px;

		li {
			font-size: 18px;
		}

		li.page {
		}

		li.page a {
			width: 1.2em;
			display: block;
			text-decoration: none;

			&:hover .number { text-decoration: underline; }
		}

		.postix {
			padding-left: 4px;
		}

		.next, .prev {
			visibility: hidden;
			&.visible { visibility: visible; }
		}
		.next { margin-left: 30px; }
		.prev { margin-right: 30px; }
	}
}
