#!/usr/bin/env ruby

unless defined? LOADED_DEFAULT_CONFIG
  LOADED_DEFAULT_CONFIG = true
  require 'compass'
  Compass.add_project_configuration 'config.rb'
end

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/browse/*' do
  if item[:layout].present?
    layout item[:layout]
  else
    nil
  end
end

# /
compile '*' do
  unless item.binary?
    case item[:extension]
    when /scss/
      filter :sass, Compass.sass_engine_options
    when 'haml'
      filter :haml, { :ugly => true, autoclose: ['<source>'], format: :xhtml }
      layout 'default'
      filter :relativize_paths, :type => :html
    else
      nil
    end
  end
end

#
# Routes
#
 
# _mixed.scss
route '/assets/**/_*' do
    nil
end

route '/assets/css/*/' do
    if item[:extension] == 'scss'
      item.identifier.chop + '.css' 
    else
      item.identifier.chop
    end
end

passthrough '/assets/*'
passthrough '/images/*'

route '/browse/*' do
  if item[:layout] == 'browse-show-page'
    item.identifier.chop + '.' + 'html'
  elsif  item[:layout] == 'browse-show-tags'
    item.identifier.chop + '.' + 'html'
  else
    item.identifier + 'index.html'
  end
end

route '/about/' do
  '/about.html'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, {:ugly => true, :autoclose => ['<source>', '<audio>', '<video>'], format: :xhtml}
