---
title: home
---

%div.row
  - Event.promoted(4).each do |event|
    %div.col-xs-6.col-md-3
      %a.thumbnail{href: h(event.url)}
        %img{src: h(event.thumb_url), alt: event.title, title: event.title}

%h1 News

- News.recent(10).each do |news|
  %div.news-item
    %h2= h news.header
    %span= news.body
   
