---
title: home
---

%div.row
  - Event.promoted(4).each do |event|
    %div.col-xs-6.col-md-3
      %a.thumbnail{href: h(event.url)}
        %img{src: h(event.thumb_url), alt: event.title, title: event.title}

%h2 CCC-TV News

- News.recent(10).each do |news|
  %div.news-item
    %h3= h news.header
    %span= news.body

TODO 

%ul
  %li add tag cloud (optional)
  %li search feature (duckduckgo?)
  %li collect and show topclips (?)
  %li generate atom/podcast feeds
  %li improve layout (css/haml)
  %li html5 player + fallback
  %li upgrade machine
  %li install database
  %li import clean conferences into backend
  %li manually import remaining old data

%h3 2013-12-30: 30C3 Recordings Release

The <a href="/browse/congress/2013">30C3 video recording</a> release process has started.

%h3 2013-11-28: Torrents

The new CDN allows us to serve torrents for all the videos. Torrent links have been added to all video pages.

   
