---
title: CCC-TV
---

%h2 CCC-TV News

%h3 2013-12-30: 30C3 Recordings Release

The <a href="/browse/congress/2013">30C3 video recording</a> release process has started.

%h3 2013-11-28: Torrents

The new CDN allows us to serve torrents for all the videos. Torrent links have been added to all video pages.

   
