---
title: CCC-TV
---

%div.jumbotron
  %div.container
    %div.row
      %div.col-md-2
        topclip1
      %div.col-md-2
        topclip2
      %div.col-md-2.offset2
        %a.btn.btn-primary.btn-lg{role: 'button', href: '/browse'}
          Browse

%h2 CCC-TV News

%h3 2014-01-16: new media

TODO 

%ul
  %li add tag cloud (optional)
  %li search feature (duckduckgo?)
  %li collect and show topclips (?)
  %li generate atom/podcast feeds
  %li improve layout (css/haml)
  %li html5 player + fallback
  %li upgrade machine
  %li install database
  %li import clean conferences into backend
  %li manually import remaining old data

%h3 2013-12-30: 30C3 Recordings Release

The <a href="/browse/congress/2013">30C3 video recording</a> release process has started.

%h3 2013-11-28: Torrents

The new CDN allows us to serve torrents for all the videos. Torrent links have been added to all video pages.

   
