
body {
  padding-top: 50px;
  background-color:white;
  color:black;
  font-family:"Droid Sans",Arial,"Trebuchet MS",sans-serif;
  font-size:100%; /* Default - also fixes a nasty IE-Bug */
  background: #D9E3EC;
  color:#303030;
}

.top-space {
  padding-top: 40px;
}

.thumbnail .icons {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 30px;
  min-width: 32px;
  min-height: 43px;
  height: auto;
  z-index: 20;
}

/* Font classes - Tags */
.xtiny { font-size: 0.5em; text-decoration:none; }
.tiny { font-size: 0.75em; font-weight:lighter; }
.normal{ font-size: 1.0em; text-decoration:none; }
.large { font-size: 1.25em; text-decoration:none; }
.xlarge { font-size: 1.5em; font-weight:bold; }

