// customize bootstrap variables here:
@import "fonts";
@import "variables";
@import "bootstrap";

/* main layout */
body {
  padding-top: 50px;
}

.top-space {
  padding-top: 40px;
}

.footer-space {
  margin-top: 40px;
}

/* navigartion bar */
.navbar {

  .container-fluid {
    max-width: $container-lg;
  }

  .btn.btn-default {
    padding: 0.2em;
    height: 1.8em;
    max-width: 2em;
    &:hover {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }
  
  .navbar-form {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  
  input {
    height: 1.8em;
  }
}

/* icons */
.fa {
  min-width: 20px;
  font-size: 1.3em;
}

.thumbnail .icons {
  position: absolute;
  padding: 5px;
  top: 5px;
  left: 60px;
  min-width: 32px;
  min-height: 43px;
  height: auto;
  z-index: 20;
}

.thumbnail-spinner {
  position: absolute;
  top: 7px;
  right: 60px;
  height: 18px;
  width: 18px;
  z-index: 100;
}

#sorting {
  text-align: right;

  .list {
    float: right;

    ul {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .text {
    padding-left: 5px;
    display: table;
  }
}

#top {
  text-align: right;
}



/* Font classes - Tags */
.tag-cloud .xtiny { font-size: 0.5em; text-decoration:none; }
.tag-cloud .tiny { font-size: 0.75em; font-weight:lighter; }
.tag-cloud .normal{ font-size: 1.0em; text-decoration:none; }
.tag-cloud .large { font-size: 1.25em; text-decoration:none; }
.tag-cloud .xlarge { font-size: 1.5em; font-weight:bold; }
