// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

body {
  padding-top: 50px;
}

a.navbar-brand img {
  height: 24px;
}

.top-space {
  padding-top: 40px;
}

.footer-space {
  margin-top: 40px;
}

.thumbnail .icons {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 30px;
  min-width: 32px;
  min-height: 43px;
  height: auto;
  z-index: 20;
}

/* Font classes - Tags */
.tag-cloud .xtiny { font-size: 0.5em; text-decoration:none; }
.tag-cloud .tiny { font-size: 0.75em; font-weight:lighter; }
.tag-cloud .normal{ font-size: 1.0em; text-decoration:none; }
.tag-cloud .large { font-size: 1.25em; text-decoration:none; }
.tag-cloud .xlarge { font-size: 1.5em; font-weight:bold; }

