%hr.footer-space
%footer
  .row
    %span.col-xs-6.small
      by 
      %a{href: 'http://ccc.de'} Chaos Computer Club e.V
      &middot;
    %span.col-xs-6.small.text-right
      %a(href='/about.html') about
      media.ccc.de
