!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title
      = @item[:title]
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: '/assets/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/bootstrap-theme.min.css', rel: 'stylesheet'}
    %link{href: '/assets/css/styles.css', rel: 'stylesheet'}
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      %div.container
        %div.navbar-header
          %a.navbar-brand(href='/index.html')
            CCC-TV
        %div.navbar-collapse.collapse
          %a.navbar-right RSS
    %div.container
      = yield

      %hr
      %footer
        %p 
          by CCC
          %a.footer-right(href='/about.html') About

    %script(src="/assets/js/jquery.min.js")
    %script(src="/assets/js/bootstrap.min.js")
